# Ignore node_modules directory
node_modules/

# Ignore dist directory
dist/

# Ignore environment-specific files
.env

# Ignore editor-specific files
.vscode/
.idea/

# Ignore logs and temporary files
*.log
*.tmp

# Ignore package-lock.json
package-lock.json